<section class="blogs">
  <h1 class="blogs__title">Blogs</h1>
  <app-blogs-filter (queryChange)="onQueryChange($event)" (statusChange)="onStatusChange($event)" />
  @if (loading()) {
    <div class="blogs__spinner">
      <p-progressspinner ariaLabel="Loading blogs" />
    </div>
  } @else {
    <app-blog-grid [blogs]="blogs()" />
  }

  <p-button
    class="blogs__fab"
    icon="pi pi-plus"
    [rounded]="true"
    [raised]="true"
    (onClick)="createDialogVisible.set(true)"
    aria-label="Create blog"
  />

  <app-blog-form-dialog
    [(visible)]="createDialogVisible"
    [submitHandler]="createHandler"
    (saved)="onBlogCreated()"
  />
</section>
